[tool.poetry]
name = "mendeleev"
version = "v0.7.0"
description = "Pythonic periodic table of elements"
authors = ["Lukasz Mentel <lmmentel@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
colorama = "^0.4.4"
numpy = "^1.19.5"
pyfiglet = "^0.8.post1"
Pygments = "^2.8.0"
pandas = ">=0.25.0"
six = "^1.15.0"
SQLAlchemy = "^1.3.23"

[tool.poetry.dev-dependencies]
alembic = "^1.5.5"
bokeh = "^2.3.0"
bump2version = "^1.0.1"
jupyterlab = "^2.0"
Sphinx = "^3.5.1"
sphinx-material = "^0.0.32"
sphinxcontrib-bibtex = "^2.1.4"
sphinx-copybutton = "^0.3.1"
pytest = "^6.2.2"
pylint = "^2.7.2"
black = "^20.8b1"
nbsphinx = "^0.8.2"
ipython = "^7.0"
ipykernel = "^5.5.0"
seaborn = "^0.11.1"
build = "^0.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
