[tool.poetry]
name = "mendeleev"
version = "v0.8.0"
description = "Pythonic periodic table of elements"
authors = ["Lukasz Mentel <lmmentel@gmail.com>"]
maintainers = ["Lukasz Mentel <lmmentel@gmail.com>"]
readme = "README.md"
documentation = "https://mendeleev.readthedocs.io"
repository = "https://github.com/lmmentel/mendeleev"
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"
colorama = "^0.4.4"
numpy = "^1.19.5"
pyfiglet = "^0.8.post1"
Pygments = "^2.8.0"
pandas = ">=0.25.0"
six = "^1.15.0"
SQLAlchemy = "^1.3.23"
plotly = { version = "^5.0", optional = true }
seaborn = { version = "^0.11.1", optional = true }
bokeh = { version = "^2.3.0", optional = true }
jupyter-bokeh = { version = "^3.0.2", optional = true }

[tool.poetry.dev-dependencies]
alembic = "^1.5.5"
black = "^20.8b1"
build = "^0.3.1"
bump2version = "^1.0.1"
ipykernel = "^5.5.0"
ipython = "^7.0"
jedi = "==0.17.2"
jupyter-bokeh = "^3.0.0"
jupyterlab = "^3.0"
nbsphinx = "^0.8.2"
pylint = "^2.7.2"
pytest = "^6.2.2"
Sphinx = "^3.5.1"
sphinx-copybutton = "^0.3.1"
sphinx-material = "^0.0.32"
sphinxcontrib-bibtex = "^2.1.4"

[tool.poetry.extras]
vis = [
    "bokeh",
    "plotly",
    "seaborn",
    "jupyter-bokeh",
]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
